<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="beCoditive Api, beCoditive, Memes, Jokes, Open Source">
    <meta name="author" content="beCoditive">
    <meta name="twitter:site" content="@sitename">
    <meta property="og:local" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="404 - Page Not Found" />
    <meta property="og:url" content="https://api.becoditive.xyz/" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="404 - Page Not Found">
    <meta name="twitter:image" content="https://cdn.max2408.ml/logos/max-api.png">
    <meta name="twitter:description" content="The page which you are trying to use doesn't exists.">
    <meta property="og:site name" content="beCoditive API" />
    <meta property="og:description" content="The page which you are trying to use doesn't exists." />
    <meta property="og:image" content="https://cdn.max2408.ml/logos/max-api.png" />
    <link rel="shortcut icon" href="https://cdn.max2408.ml/logos/max-api.png" type="image/x-icon">  
    <title>404 - Page Not Found</title>
</head>
<body>
    <h1>That doesn't exist what are you doing</h1>
</body>
</html>