<!DOCTYPE html>
<html>

<head>
   
    <title>BeCoditive - API</title>
    <meta name="theme-color" content="#008080">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="beCoditive Api, beCoditive, Memes, Jokes, Open Source">
    <meta name="description" content="beCoditive Api is a multi functionality api with many endpoints like memes, image and text generation, animal images and many more.">
    <meta name="author" content="beCoditive">
    <meta name="twitter:site" content="@sitename">
    <meta property="og:local" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="beCoditive - API" />
    <meta property="og:url" content="https://api.becoditive.xyz/" />
    <meta name="twitter:card" content="summary">
    <link rel="canonical" href="https://api.becoditive.xyz/">
    <meta name="twitter:title" content=" - API">
    <meta name="twitter:image" content="https://cdn.becoditive.xyz/logos/becoditive-api.png">
    <meta name="twitter:description" content="This is my API in which has many endpoints like memes, animals, text manipulation, image manipulation, etc.">
    <meta property="og:site name" content="beCoditive - API" />
    <meta property="og:description" content="This is my API in which has many endpoints like memes, animals, text manipulation, image manipulation, etc.">
    <meta property="og:image" content="https://cdn.becoditive.xyz/logos/becoditive-api.png" />

    <link rel="shortcut icon" href="https://cdn.becoditive.xyz/logos/becoditive-api.png" type="image/x-icon">  
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background-color: var(--background);">
    <div id="top" style="height: 12px;">
        <nav class="navbar navbar-light navbar-expand fixed-top" style="color: var(--main-color);border-top-width: 6px;border-top-style: solid;background: var(--background);">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="color: var(--main-color);font-family: 'Alfa Slab One', cursive;">BeCoditive</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link active smoothScroll" href="#feature" style="color: var(--text-color);">Features</a></li>
                        <li class="nav-item"><a class="nav-link smoothScroll" href="#Endpoints" style="color: var(--text-color);">Endpoints</a></li>
                        <li class="nav-item"><a class="nav-link smoothScroll" href="#apikey" style="color: var(--text-color);">API Key</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://discord.com/invite/BgWv28uQD4" style="color: var(--text-color);">Discord</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/becoditive" style="color: var(--text-color);">Github</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <header class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" style="height: 418px;text-align: center;margin: 55px;"><img class="rounded" src="https://cdn.discordapp.com/attachments/818140314375422012/839760714365272064/favicon.png" width="150" height="150" style="margin-top: 30px;">
        <h1 class="d-xl-flex justify-content-xl-start" style="color: var(--text-color);">BeCoditive</h1>
        <p style="color: var(--secondary-text-color);">Everything you need in a single API</p>
        <div class="tada animated">
            <div role="group" class="btn-group"> <a href="https://apidocs.becoditive.xyz" class="btn btn-primary shadow-none" type="button" style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;">Documentation</a>

                <a class="btn btn-primary smoothScroll shadow-none" role="button" style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;" href="https://github.com/beCoditive/beCoditive-API">Github</a></div>
        </div>
    </header>
    <div id="feature" style="height: 90px;background: var(--secondary);">
        <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--background)" fill-opacity="1" d="M0,96L40,112C80,128,160,160,240,144C320,128,400,64,480,48C560,32,640,64,720,69.3C800,75,880,53,960,58.7C1040,64,1120,96,1200,96C1280,96,1360,64,1400,48L1440,32L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg></div>
    </div>
    <div class="features-boxed" style="background: var(--secondary);">
        <div class="container" style="color: var(--main-color);">
            <div class="intro">
                <h2 class="text-center" style="color: var(--text-color);">API Features</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box" style="/*border-radius: 34px;*/"><i class="fa fa-bolt icon" style="color: var(--main-color);"></i>
                        <h3 class="name">Fast</h3>
                        <p class="description" style="color: var(--secondary-text-color);"><br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box"><i class="fa fa-lock icon" style="color: var(--main-color);"></i>
                        <h3 class="name">Secure</h3>
                        <p class="description" style="color: var(--secondary-text-color);"><br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box"><i class="fa fa-smile-o icon" style="color: var(--main-color);"></i>
                        <h3 class="name">Unique</h3>
                        <p class="description" style="color: var(--secondary-text-color);"><br></p>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <div style="background-color: var(--background);">
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-41.53,-9.56 C167.83,173.98 302.14,-60.89 534.09,89.10 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: var(--secondary);"></path></svg></div>
    </div>
    <div id="Endpoints">
        <section>
            <div class="container-fluid text-white">
                <div class="row row-cols-3 justify-content-center" style="color: var(--secondary-text-color);">
                    <div class="col-auto col-md-6 col-lg-4 text-center pb-5 pt-5 number-item love_counter">
                        <h1 class="love_count" style="font-size: 70px;"><strong>1000</strong></h1>
                        <h4 style="color: var(--main-color);margin-top: -6px;">Total Servers</h4>
                    </div>
                    <div class="col-auto col-lg-4 text-center align-self-center pb-5 pt-5 love_counter">
                        <h1 class="love_count" style="font-size: 70px;"><strong>100000</strong></h1>
                        <h4 style="color: var(--main-color);margin-top: -6px;">Total Users</h4>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <h2>All Endpoints</h2>
            <div class="accordion">

                <!--- If you want more just copy the following code from here -->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Animals</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>"GET: <a href="/v2/animals/cat">/v2/animals/cat</a> provides a random cat image and fact" <br>
                        "GET: <a href="/v2/animals/dog">/v2/animals/dog</a> provides a random dog image and fact"<br>
                        "GET: <a href="/v2/animals/panda">/v2/animals/panda</a> provides a random panda image and fact"<br>
                        "GET: <a href="/v2/animals/bird">/v2/animals/bird</a> provides a random bird image and fact"</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Games</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>"GET: <a href="/v2/games/guessthelogo">/v2/games/guessthelogo</a> provides a random logo and answer from which you can make a game." <br>
                        "GET: <a href="/v2/games/trivia">/v2/games/trivia</a> provides a some random trivia data."<br>
                        "GET: <a href="/v2/games/rpc">/v2/games/rpc</a> a simple rock paper scissors"
                    </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Memes</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>"GET: <a href="/v2/others/blacktwitter">/v2/others/blacktwitter</a> provides a random blacktwitter meme"<br>
                        "GET: <a href="/v2/meme/discordmemes">/v2/meme/discordmemes</a> provides a random discord meme" <br>
                    </p>
                    </div>
                </div>

                <!--- to here :D -->
                <!--- If you want more just copy the following code from here -->
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Images</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>"GET: <a href="/v2/images/delete">/v2/images/delete</a> provides a delete meme with custom avatar"<br> 
                           "GET: <a href="/v2/images/ad">/v2/images/ad</a> provides a ad meme with custom avatar"<br>
                           "GET: <a href="/v2/images/hitler">/v2/images/hitler</a> provides a hitler meme with custom avatar"<br>
                           "GET: <a href="/v2/images/jail">/v2/images/jail</a> provides a jail meme with custom avatar"<br>
                           "GET: <a href="/v2/images/gay">/v2/images/gay</a> provides a gay meme with custom avatar"<br>
                           "GET: <a href="/v2/images/discordblue">/v2/images/discordblue</a> provides a discordblue meme with custom avatar"<br>
                           "GET: <a href="/v2/images/rip">/v2/images/rip</a> provides a rip meme with custom avatar"<br>
                           "GET: <a href="/v2/images/sepia">/v2/images/sepia</a> provides a sepia meme with custom avatar"<br>
                           "GET: <a href="/v2/images/firsttime">/v2/images/firsttime</a> provides a firsttime meme with custom avatar"<br>
                           "GET: <a href="/v2/images/kimborder">/v2/images/kimborder</a> provides a kimborder meme with custom avatar"<br>
                           "GET: <a href="/v2/images/captcha">/v2/images/captcha</a> provides a captcha meme with custom avatar"<br>
                           "GET: <a href="/v2/images/jokeoverhead">/v2/images/jokeoverhead</a> provides a jokeoverhead meme with custom avatar"</p>
                    </div>
                </div>
                <!--- to here :D -->
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Others</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>"GET: <a href="/v2/others/joke">/v2/others/joke</a> provides a random joke"<br>
                            "GET: <a href="/v2/others/puns">/v2/others/puns</a> provides a random puns"<br>
                            "GET: <a href="/v2/others/hug">/v2/others/hug</a> provides a random hug gif"<br>
                            GET: <a href="/v2/others/kiss">/v2/others/kiss</a> provides a random kiss gif"<br>
                            "GET: <a href="/v2/others/uuid">/v2/others/uuid</a> provides a random unique id"<br>
                            "GET: <a href="/v2/others/insults">/v2/others/insults</a> provides a random insult"<br>
                            "GET: <a href="/v2/others/flirt">/v2/others/flirt</a> provides a random flirt text"<br>
                            "GET: <a href="/v2/others/word">/v2/others/word</a> provides a random word" <br>
                            "GET: <a href="/v2/others/doesnotexists">/v2/others/doesnotexists</a> provides a random image of some person which does not exists" <br>
                            "GET: <a href="/v2/others/quote">/v2/others/quote</a> provides a random quote" <br>
                            "GET: <a href="/v2/others/uselessweb">/v2/others/uselessweb</a> provides a random link of a useless website" <br>
                            "GET: <a href="/v2/others/truth">/v2/others/truth</a> provides a random truth" <br> 
                            "GET: <a href="/v2/others/dare">/v2/others/dare</a> provides a random dare" <br>
                            "GET: <a href="/v2/others/number">/v2/others/number</a> provides a random number" <br>
                            "GET: <a href="/v2/others/password">/v2/others/password</a> provides a random strong password" 
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Text</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>"GET: <a href="/v2/text/reverse">/v2/text/reverse</a> provides a reversed text"<br>
                            "GET: <a href="/v2/text/binary">/v2/text/binary</a> provides a binary version of normal text"<br>
                            "GET: <a href="/v2/text/morse">/v2/text/morse</a> provides a morse version of normal text"<br>
                            "GET: <a href="/v2/text/sarcastic">/v2/text/sarcastic</a> provides a sarcastic version of normal text" <br>
                            "GET: <a href="/v2/text/shuffle">/v2/text/shuffle</a> provides a shuffled text" <br>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="team-clean" style="background: rgba(0,0,0,0);">
        <div class="container" style="filter: blur(0px);padding-bottom: 0px;">
            <h3 class="text-center name" style="color: var(--secondary-text-color)">Top Bots Using Our API</h3>
            <div class="intro"></div>
            <div class="row row-cols-4 d-flex d-xl-flex justify-content-center justify-content-xl-center people" style="padding-bottom: 0px;">
                <div class="col-auto col-md-6 col-lg-4 yeet"><a href="https://discord.com/api/oauth2/authorize?client_id=826024859675000832&permissions=8&scope=bot%20applications.commands" target="_blank"><img class="rounded-circle partner" src="https://cdn.discordapp.com/attachments/818140314375422012/839771959498899456/pheonixx-logo.png"></a></div>
            </div>
        </div>
    </div>

  
    <% if(message === "success") { %>
        <script>
            alert("You API Key is <%= key %>")
            window.location.href = "/"
        </script>
    <% } %>

    <% if(message === "duplicate") { %>
        <script>
            alert("The Email is already registered. Please Check your old mails for the API Key.")
            window.location.href = "/"
        </script>
    <% } %>

    <% if(message === "extension") { %>
        <script>
            alert("The extension of your email address's domain is not supported by our api! We suggest you to use a email address issued by gmail.")
            window.location.href = "/"
        </script>
    <% } %>

    <% if(message === "domain") { %>
        <script>
            alert("The domain of you email address is not supported by our api! We suggest you to use a email address issued by gmail.")
            window.location.href = "/"
        </script>
    <% } %>

    <section class="Signup" id="apikey">
        <div class="Signup__text">
          <h3>Give us your e-mail so we can send you your API Key via Email.</h3>
        </div>
        <form class="Signup__form" id="newsletter" action="/v2/admin/newAPIKEY" method="POST">
          <input required id="email" type="email" name="email" placeholder="Your E-mail">
          <button form="newsletter" type="submit" class="Signup__button">Get Api Key</button>
        </form>
      </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--secondary)" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,154.7C384,171,480,213,576,218.7C672,224,768,192,864,181.3C960,171,1056,181,1152,192C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    <div class="footer-dark" style="background: var(--secondary);padding-top: 0px;padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col item social"><a class="smoothScroll" href="#top"><i class="fab-fa discord"></i></a></div>
            </div>
            <p class="copyright" style="color: var(--text-color);">Bitxire © 2021</p>
            <p class="copyright" style="color: var(--text-color);padding: 0px;">
                Front End&nbsp;<a href="https://bitxire.com" style="color: var(--main-color);">by BitXire Studio</a></p>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Counting.js"></script>
    <script src="/assets/js/untitled.js"></script>
</body>

</html>