<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="beCoditive Api, beCoditive, Memes, Jokes, Open Source">
    <meta name="description" content="beCoditive Api is a multi functionality api with many endpoints like memes, image and text generation, animal images and many more.">
    <meta name="author" content="beCoditive">
    <meta name="twitter:site" content="@sitename">
    <meta property="og:local" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="beCoditive - API" />
    <meta property="og:url" content="https://api.becoditive.xyz/" />
    <meta name="twitter:card" content="summary">
    <link rel="canonical" href="https://api.becoditive.xyz/">
    <meta name="twitter:title" content=" - API">
    <meta name="twitter:image" content="https://cdn.becoditive.xyz/logos/becoditive-api.png">
    <meta name="twitter:description" content="This is my API in which has many endpoints like memes, animals, text manipulation, image manipulation, etc.">
    <meta property="og:site name" content="beCoditive - API" />
    <meta property="og:description" content="This is my API in which has many endpoints like memes, animals, text manipulation, image manipulation, etc.">
    <meta property="og:image" content="https://cdn.becoditive.xyz/logos/becoditive-api.png" />
    <link rel="shortcut icon" href="https://cdn.becoditive.xyz/logos/becoditive-api.png" type="image/x-icon">  
    <title>beCoditive - API</title>
</head>
<body>
    <h1>beCoditive API</h1>
    <hr>
    <h4>Available Endpoints</h4>
    <details>
        <summary>Animals</summary>
        <p>
            "GET: <a href="/v1/animals/cat">/v1/animals/cat</a> provides a random cat image and fact"<br>
            "GET: <a href="/v1/animals/dog">/v1/animals/dog</a> provides a random dog image and fact"<br>
            "GET: <a href="/v1/animals/panda">/v1/animals/panda</a> provides a random panda image and fact"<br>
        </p>
    </details>
    <details>
        <summary>Images</summary>
        <p>
            "GET: <a href="/v1/images/delete">/v1/images/delete</a> provides a delete meme with custom avatar"<br>
            "GET: <a href="/v1/images/ad">/v1/images/ad</a> provides a ad meme with custom avatar"<br>
            "GET: <a href="/v1/images/hitler">/v1/images/hitler</a> provides a hitler meme with custom avatar"<br>
            "GET: <a href="/v1/images/jail">/v1/images/jail</a> provides a jail meme with custom avatar"<br>
            "GET: <a href="/v1/images/gay">/v1/images/gay</a> provides a gay meme with custom avatar"<br>
            "GET: <a href="/v1/images/discordblue">/v1/images/discordblue</a> provides a discordblue meme with custom avatar"<br>
            "GET: <a href="/v1/images/wanted">/v1/images/wanted</a> provides a wanted meme with custom avatar"<br>
        </p>
    </details>
    <details>
        <summary>Others</summary>
        <p>
            "GET: <a href="/v1/others/joke">/v1/others/joke</a> provides a random joke"<br>
            "GET: <a href="/v1/others/insults">/v1/others/insults</a> provides a random insult"<br>
            "GET: <a href="/v1/others/flirt">/v1/others/flirt</a> provides a random flirt text"<br>
            "GET: <a href="/v1/others/word">/v1/others/word</a> provides a random word"<br>
            "GET: <a href="/v1/others/doesnotexists">/v1/others/doesnotexists</a> provides a random image of some person which does not exists"<br>
            "GET: <a href="/v1/others/quote">/v1/others/quote</a> provides a random quote"<br>
            "GET: <a href="/v1/others/uselessweb">/v1/others/uselessweb</a> provides a random link of a useless website"<br>
            "GET: <a href="/v1/others/truth">/v1/others/truth</a> provides a random truth"<br>
            "GET: <a href="/v1/others/dare">/v1/others/dare</a> provides a random dare"<br>
            "GET: <a href="/v1/others/number">/v1/others/number</a> provides a random number"<br>
            "GET: <a href="/v1/others/password">/v1/others/password</a> provides a random strong password"<br>
        </p>
    </details>
    <br>
    <hr>
    <h4>This Project is Open Source - <a href="https://github.com/beCoditive/beCoditive-API">Link</a></h4>
    <hr>
    <h4>You can make 100 requests in per minutes.<br>
    <a href="https://apidocs.becoditive.xyz">Click here</a> for docs.</h5>
    <hr>
    <br>
    <h4>Follow Us On -<br><a href="https://www.twitter.com/bcoditive/">Twitter</a><br>
                          <a href="https://www.instagram.com/becoditive/">Instagram</a><br>
                          <a href="https://www.youtube.com/channel/UCLxs31GfUBZyFSXGCQFcCng">Youtube</a><br>
                          <a href="https://github.com/beCoditive/">Github</a></h4>
</body>
</html>