<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="beCoditive Api, beCoditive, Memes, Jokes, Open Source">
    <meta name="author" content="beCoditive">
    <meta name="twitter:site" content="@sitename">
    <meta property="og:local" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="beCoditive API" />
    <meta property="og:url" content="https://api.becoditive.xyz/" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="beCoditive API">
    <meta name="twitter:image" content="https://max2408.github.io/becoditive-cdn/logos/becoditive-api.png">
    <meta name="twitter:description" content="This is my API in which has many endpoints like memes, animals, text manipulation, image manipulation, etc.">
    <meta property="og:site name" content="beCoditive API" />
    <meta property="og:description" content="This is my API in which has many endpoints like memes, animals, text manipulation, image manipulation, etc." />
    <meta property="og:image" content="https://max2408.github.io/becoditive-cdn/logos/becoditive-api.png" />
    <link rel="shortcut icon" href="https://max2408.github.io/becoditive-cdn/logos/becoditive-api.png" type="image/x-icon">  
    <title>beCoditive API</title>
</head>
<body>
    <h1>beCoditive API</h1>
    <h4>You can make 100 requests in per minutes. Flooding the api with requests will get you banned.<br>
    <a href="https://apidocs.becoditive.xyz">Click here</a> for docs.</h5>
</body>
</html>
