<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="/assets/css/tos.css">

    <link rel="shortcut icon" href="https://cdn.becoditive.xyz/logos/becoditive-api.png" type="image/x-icon">  
    <meta name="theme-color" content="#008080">
    <meta name="keywords" content="beCoditive Api, beCoditive, Memes, Jokes, Open Source, tos, termsofservice">
    <meta name="description" content="Terms of services of beCoditive API">
    <meta name="author" content="beCoditive">
    <meta name="twitter:site" content="@sitename">
    <meta property="og:local" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ToS | beCoditive - API" />
    <meta property="og:url" content="https://api.becoditive.xyz/" />
    <meta name="twitter:card" content="summary">
    <link rel="canonical" href="https://api.becoditive.xyz/">
    <meta name="twitter:title" content="ToS | beCoditive - API">
    <meta name="twitter:image" content="https://cdn.becoditive.xyz/logos/becoditive-api.png">
    <meta name="twitter:description" content="Terms of services of beCoditive API">
    <meta property="og:site name" content="ToS | beCoditive - API" />
    <meta property="og:description" content="Terms of services of beCoditive API">
    <meta property="og:image" content="https://cdn.becoditive.xyz/logos/becoditive-api.png" />
</head>
<body>
    <header class="main-header dark-theme">

        <ul class="header-options">
    
             <li class="title"> beCoditive API </li>
            <li class="option"> <a href="https://api.becoditive.xyz"> API </a></li>
            <li class="option"> <a href="https://apidocs.becoditive.xyz"> DOCS </a> </li>
            <li class="option"> <a href="https://github.com/beCoditive/beCoditive-API"> GITHUB </a> </li>
            <li class="option"> <a href="https://discord.gg/BgWv28uQD4"> DISCORD </a> </li>
        </ul>
    
    </header>

    <header class="header-mobile dark-theme">
            <h3 class="title-mobile"> beCoditive API </h3>
    </header>

    <section id="terms-of-service">
        <div class="card">
            <h1 class="primary-heading">Terms of Service</h1>
            <p class="paragraph">
                1) In consideration of your use of the beCoditive API, you represent that you <span class="bold">are</span> of legal age to form a binding contract and are <span class="bold">not</span> a person barred from receiving services under the laws of the Indian Constitution or other applicable jurisdiction. You also agree to: <br> <br>
                   •	   provide true, accurate, current and complete information about yourself as prompted by beCoditive API's registration form and; <br> <br>
                   •	   maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or beCoditive has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, beCoditive has the right to suspend or terminate your account and refuse any and all current or future use of the beCoditive API (or any portion thereof).
                <br><br><br>
                2) Any kind of abusing, harassment using beCoditive API is <span class="bold">strictly prohibited</span>. If anyone is found conducting such acts, they will be <span class="bold">banned</span> from the beCoditive API and legal action will be taken against them.
                <br><br><br>
                3) beCoditive API provides <span class="bold">ONE</span> API key to each person. Trying to generate fakes API keys is strictly <span class="bold">prohibited</span> and this act will result in <span class="bold">banning</span> of the person.
                <br><br><br>
                4) beCoditive API is <span class="bold">copyrighted</span> and if any acts of <span class="bold">plagiarism</span> are discovered, legal action will be taken against the offender. 
                <br><br><br>
                5) Flooding beCoditive API with false requests and false complains is <span class="bold">strictly prohibited</span>
                <br><br><br>
                6) Registration Data and certain other information about you <span class="bold">is subject</span> to our Privacy Policy.
                <br><br><br>
                7) You expressly <span class="bold">understand</span> and <span class="bold">agree</span> that beCoditive and its subsidiaries, affiliates, officers, employees, agents, partners and licensors shall not be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if beCoditive has been advised of the possibility of such damages), resulting from the use or the inability to use beCoditive API.
                <br><br><br>
                8) You <span class="bold">agree</span> that beCoditive may <span class="bold">terminate</span> your access to beCoditive API for violations of the TOS and/or requests by authorized law enforcement or other government agencies.
                <br><br><br>
                9) You acknowledge that beCoditive may establish general practices and limits concerning use of beCoditive API, including without limitation the maximum number of days that email messages, message board postings or other uploaded Content will be retained by beCoditive API. You further acknowledge that beCoditive reserves the right to modify these general practices and limits from time to time. beCoditive reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, beCoditive API (or any part thereof) with or without notice. You agree that beCoditive shall not be liable to you or to any third party for any modification, suspension or discontinuance of beCoditive API.
            </p>
        </div>
    </section>
    <footer>
        <p class="footer-heading">© Copyright 2020-2021 beCoditive. All rights reserved.</p>
    </footer>
</body>
</html>